<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h2>Employee Registration Form</h2>
	<form action="employeelogin" method="get">
		<div class="form-group">
			<label for="formGroupExampleInput">Email ID</label> <input
				type="text" class="form-control" id="emailid"
				placeholder="Example input">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2">Password</label> <input
				type="text" class="form-control" id="password"
				placeholder="Another input">
		</div>
	</form>
	<div>
		<button type="button" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-dark">Cancel</button>
	</div>
</body>
</html>
